
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

#content {
    max-width: 1600px;
    margin: 0;
}

nav {
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    background-color: #396E94;
}

nav a {
    flex-flow: row;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    margin: 10px;
    background-color: #D89D6A;
    border: 3px solid #203e54;
    font-family: 'Gloria Hallelujah';
    color: #396E94;
}

nav a:hover {
    color: #FCFF6C;
    background-color: #203e54;
    border-color: black;
}

nav div {
    align-self: center;
    width: 10px;
    height: 80px;
    background-color: #203e54;
    border-radius: 5px;
}

h1 {
    font-family: 'Permanent Marker';
    color: #6D454C;
}

#home-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center;
    background-color:#D89D6A; 
    border: 2px solid #203e54;
}

body div div {
    grid-column: 1/2;
    background-color: #D7FFAB;
}

h4 {
    margin: 20px 30% 20px 30%;
    color: #FCFF6C;
    background-color:#203e54;
    text-align: center;
    font-family: 'permanent marker';
    font-size: larger;
}

.info {
    margin: 0 20px 0 10%;
    color:#6D454C;
    font-family: 'Crimson Text';
}

#img1 {
    max-width: 300px;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 50px;
    margin-bottom: -50px;
}

#img2 {
    max-width: 300px;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: -50px;
    margin-bottom: 50px;
}

#logo {
    max-height: 100px;
}

footer {
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    background-color: #396E94;
    height: 100px;
}

footer a {
    flex-flow: row;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    background-color: #D89D6A;
    border: 3px solid #203e54;
    font-family: 'Gloria Hallelujah';
    color: #396E94;
}

footer a:hover {
    color: #FCFF6C;
    background-color: #203e54;
    border-color: black;
}

footer div {
    align-self: center;
    width: 10px;
    height: 80px;
    background-color: #203e54;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    #home-grid {
        display: block;
        height: auto;
    }
    nav {
        flex-direction: column;
        margin-bottom: 25px;
    }
    nav a {
        display: block;
        padding: 15px;
        width: initial;
    }
    nav div {
        width: 80%;
        height: 5px
    }
    #img1 {
        display: block;
        margin: 10px auto 10px auto;
        
    }
    #img2 {
        display: block;
        margin: 10px auto 10px auto;


    }
    .info {
        padding: 20px;
    }
    footer {
        flex-direction: column;
        height: initial;
        justify-items: center;
        margin-top: 25px;
    }
    footer a {
        width: initial;
        display: block;
        margin-bottom: 10px;

    }
    footer img {
        max-width: 100px;
    }
    #logo {
        margin: 10px auto 10px auto;
        display: block;
        width:initial;
    }
}