
header img {
    max-width: 1080px;
}

body {
    margin: 0 auto;
}

#content {
    margin: 0 auto;
    padding: 0;
    max-width: 1080px;
    background-color: grey;
    
}

.icons img {
    display: inline-block;
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
    border: 15px solid #2b2b2b;
    margin-top: 50px;
    margin-bottom: 50px;
}

#left {
    float: left;
    margin-left: 10%;
}

#middle {
    margin-left: 10.5%;
    margin-right: 10.5%;
}

#right {
    float: right;
    margin-right: 10%;
}