

main {
    display: block;
}

#rivers-content {
    max-width: 1600px;
}

#r-hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    margin-top: -100px;
}

#r-hero-box {
    grid-row: 1/4;
    grid-column: 1/4;
    z-index: -1;
}

#r-hero-box img {
    width: 100%
}

#r-title {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    
}

h1 {
    background-color: rgba(41,115,115, 0.5);
    font-size: 2em;
    color: white;
    margin: 0;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px;
}

.line {
    background-color: black;
    width: 90%;
    height: 3px;
    margin: 20px auto;
    border-radius: 3px;

}

.rivers-box {
    margin: 20px;
}

.river-name {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.river-box p {
    padding-left: 10px;
    padding-right: 10px;
}

.river-box {
    margin: 0;
    background-color: #85FFC7;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px;

    
}

.river-box::after {
    content: "";
    clear: both;
    display: table;
}
.river-box img {
    float: left;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
}

.button-box {
    padding-bottom: 40px;
    padding-top: 20px;
}

.right-img img {
    float: right;
}

@media screen and (max-width: 900px) {
    #r-hero {
        display: block;
        height: auto;
    }
    #r-hero {
        margin-top: 0;
    }
    .river-box img {
        float: none;
    }
    .river-box {
        text-align: center;
    }
}