
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Work+Sans:wght@300&display=swap');

body {
    background-color: #fcfbfb;
    font-family: 'Work Sans', 'Arial', 'Script';
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

h4 {
    color: #000000;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
}

footer {
    background-color: #E6E6E6;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #297373;
    text-decoration: none;
}

footer a:hover {
    color: #000000;
}

footer h3 {
    color: #000000;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

nav a {
    text-align: center;
    color: #297373;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #297373;
    color: #000000;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #85FFC7;
}

#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#logo_link {
    padding-top: 5px;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #43c7c1;
    color: #297373;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #297373;
    color: #000000;
}

.card-img {
    border: 10px solid #297373;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.home-title {
    color: #000000;
    font-family: 'Quicksand', 'Arial', 'Script';
    font-size: 2em;
    margin-top: 10px;
}

.logo {
    width: 80px;
}

.msg {
    background-color: #85FFC7;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #000000;
    font-family: 'Quicksand', 'Arial', 'Script';
}

.msg p {
    color: #000000;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}