body {
    margin: 4px;
}
.wrapper {
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    gap: 4px;
}

.header {
    grid-column: 1 / 4;
    background-color: red;
}

.footer {
    grid-column: 2 / 4;
    background-color: pink;
}

.main {
    background-color: blue;
}

.left {
    background-color: yellow;
    grid-row: 2 / 4;
}

.right {
    background-color: tan;

}