
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

#wrapper {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.box {
    background-color: grey;
    width: 300px;
    height: 300px;
    grid-column: 2/3;
    grid-row: 1/4;
}

img {
    max-width: 300px;
    grid-column: 1/2;
    grid-row: 1/4;
}

.title {
    z-index: 1;
    grid-column: 1/3;
    grid-row: 1/3;
    text-align: center;
    font-size: 80px;
    letter-spacing: 5px;
    font-family: 'Merriweather', serif;
    
}

.subtitle {
    z-index: 1;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    letter-spacing: 5px;
    color: rgb(99, 0, 20);
    font-family: 'Merriweather', serif;
}