body {
    background-color: #FCA6C9;
}

.coolfont {
    font-family: Arial, sans-seriff;
}

.white {
    color: white;
}

.bolder {
    font-weight: 900;
} 

.pageContent {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    
}

.pageContent ol {
    text-align: left;
    font-weight: bolder;
    font-size: 14px;
}

.pageContent ol li {
    line-height: 25px;
}

img {
    width: 150px;
}

.quotation {
    margin: 10px 60px;
    font-size: 24px;
}