/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  /* This is the parent of the activity 1 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  gap: 20px;
}
.red1 { 
  grid-column: 1/3;
  width: 100%; 
  height: 100px; 
  background-color: red; 

} 
.green1 {
  margin: 0 auto;
  width: 200px; 
  height: 200px; 
  background-color: green; 
  
} 
.yellow1 {
  margin: 0 auto;
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 100%; 
  height: 100px; 
  background-color: blue; 
} 
/* Activity 2 styles */ 
.content2 {
  /* This is the parent of the activity 2 boxes. */
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 1fr);
}
.red2 {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100px; 
  height: 100px; 
  background-color: red; 
} 
.green2 { 
  grid-column: 2/4;
  grid-row: 2/4;
  z-index: 1;
  width: 100px; 
  height: 100px; 
  background-color: green; 
} 
.yellow2 {
  grid-column: 3/5;
  grid-row: 3/5;
  z-index: 2;
  width: 100px; 
  height: 100px; 
  background-color: gold; 
} 
.blue2 {
  grid-column: 4/6;
  grid-row: 4/6;
  z-index: 3;
  width: 100px; 
  height: 100px; 
  background-color: blue; 
} 
/* Activity 3 styles */ 
.content3 {
  /* This is the parent of the activity 3 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.red3 {
  grid-column: 1/3;
  width: 100%; 
  height: 100px; 
  background-color: red; 
} 
.green3 {
  justify-self: left;
  width: 90%; 
  height: 100%; 
  background-color: green;
} 
.yellow3 {
  justify-self: right;
  width: 90%; 
  height: 100%; 
  background-color: gold; 
} 
.blue3 {
  grid-column: 1/3;
  width: 100%;
  height: 100px; 
  background-color: blue; 
} 
/* Activity 4 styles */ 
.content4 {
  /* This is the parent of the activity 4 boxes. */
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.red4 {
  grid-row: 1/4;
  width: 100%; 
  height: 100%; 
  background-color: red; 
} 
.green4 {
  width: 100%; 
  height: 100%; 
  background-color: green; 
} 
.yellow4 {
  width: 100%; 
  height: 100%; 
  background-color: gold; 
} 
.blue4 {
  width: 100%; 
  height: 100%; 
  background-color: blue; 
} 
/* Activity 5 styles */ 
.content5 {
  /* This is the parent of the activity 5 boxes. */
  height: 400px;
}
.red5 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
} 
.green5 { 
  float: left;
  width: 200px; 
  height: 200px; 
  background-color: green; 

} 
.yellow5 {
  width: 100%;  
  background-color: gold; 

} 
.blue5 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
} 
/* Activity 6 styles */ 
.content6 {
  /* This is the parent of the activity 6 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 600px;
  max-height: 600px;
}
.red6 {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%; 
  height: 100%; 
  background-color: red; 
} 
.green6 {
  grid-column:1/2;
  grid-row: 3/4;
  width: 100%; 
  height: 200px; 
  background-color: green; 
} 
.yellow6 {
  z-index: 1;
  grid-column:3/4;
  grid-row: 2/4;
  width: 100%; 
  height: 100%; 
  background-color: gold; 
} 
.blue6 {
  grid-column:2/3;
  grid-row: 2/3;
  margin: -50%;
  width: 200%; 
  height: 200%; 
  background-color: blue; 
} 


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}